.about
    &__text
        color: white
        font-family: 'Open Sans Light'
    &__about
        color: white
        text-align: center
        font-size: 50px
        font-family: 'BlackDiamond'
