@import 'header'
@import 'slider'
@import 'about'
@import 'gallery'
@import 'tour'
@import 'buttons'
@import 'modal'
@import 'forms'
@import 'contacts'
@import 'media'


.container
    max-width: 1180px
    margin: 0 auto

*
    padding: 0
    margin: 0
    border: 0
    box-sizing: border-box

body
    background: url(/img/kam2.jpg) center center/cover no-repeat